:root{
    --primary:#4628ff;
    --dark:#181717;

}
.btn{
    /* font-family: "Roboto",sans-serif; */
    text-align: center;
    border-radius: 10px;
    font-weight: 400;
    cursor: pointer;
    
}